<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bdqn.appInfo.dao.CategoryMapper" >
  <resultMap id="BaseResultMap" type="com.bdqn.appInfo.pojo.Category" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="categoryCode" property="categorycode" jdbcType="VARCHAR" />
    <result column="categoryName" property="categoryname" jdbcType="VARCHAR" />
    <result column="parentId" property="parentid" jdbcType="BIGINT" />
    <result column="createdBy" property="createdby" jdbcType="BIGINT" />
    <result column="creationTime" property="creationtime" jdbcType="TIMESTAMP" />
    <result column="modifyBy" property="modifyby" jdbcType="BIGINT" />
    <result column="modifyDate" property="modifydate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, categoryCode, categoryName, parentId, createdBy, creationTime, modifyBy, modifyDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from app_category
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from app_category
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bdqn.appInfo.pojo.Category" >
    insert into app_category (id, categoryCode, categoryName, 
      parentId, createdBy, creationTime, 
      modifyBy, modifyDate)
    values (#{id,jdbcType=BIGINT}, #{categorycode,jdbcType=VARCHAR}, #{categoryname,jdbcType=VARCHAR}, 
      #{parentid,jdbcType=BIGINT}, #{createdby,jdbcType=BIGINT}, #{creationtime,jdbcType=TIMESTAMP}, 
      #{modifyby,jdbcType=BIGINT}, #{modifydate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bdqn.appInfo.pojo.Category" >
    insert into app_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="categorycode != null" >
        categoryCode,
      </if>
      <if test="categoryname != null" >
        categoryName,
      </if>
      <if test="parentid != null" >
        parentId,
      </if>
      <if test="createdby != null" >
        createdBy,
      </if>
      <if test="creationtime != null" >
        creationTime,
      </if>
      <if test="modifyby != null" >
        modifyBy,
      </if>
      <if test="modifydate != null" >
        modifyDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="categorycode != null" >
        #{categorycode,jdbcType=VARCHAR},
      </if>
      <if test="categoryname != null" >
        #{categoryname,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=BIGINT},
      </if>
      <if test="createdby != null" >
        #{createdby,jdbcType=BIGINT},
      </if>
      <if test="creationtime != null" >
        #{creationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyby != null" >
        #{modifyby,jdbcType=BIGINT},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bdqn.appInfo.pojo.Category" >
    update app_category
    <set >
      <if test="categorycode != null" >
        categoryCode = #{categorycode,jdbcType=VARCHAR},
      </if>
      <if test="categoryname != null" >
        categoryName = #{categoryname,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        parentId = #{parentid,jdbcType=BIGINT},
      </if>
      <if test="createdby != null" >
        createdBy = #{createdby,jdbcType=BIGINT},
      </if>
      <if test="creationtime != null" >
        creationTime = #{creationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyby != null" >
        modifyBy = #{modifyby,jdbcType=BIGINT},
      </if>
      <if test="modifydate != null" >
        modifyDate = #{modifydate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bdqn.appInfo.pojo.Category" >
    update app_category
    set categoryCode = #{categorycode,jdbcType=VARCHAR},
      categoryName = #{categoryname,jdbcType=VARCHAR},
      parentId = #{parentid,jdbcType=BIGINT},
      createdBy = #{createdby,jdbcType=BIGINT},
      creationTime = #{creationtime,jdbcType=TIMESTAMP},
      modifyBy = #{modifyby,jdbcType=BIGINT},
      modifyDate = #{modifydate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>