<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bdqn.appInfo.dao.Dev_UserMapper" >
  <resultMap id="BaseResultMap" type="com.bdqn.appInfo.pojo.Dev_User" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="devCode" property="devcode" jdbcType="VARCHAR" />
    <result column="devName" property="devname" jdbcType="VARCHAR" />
    <result column="devPassword" property="devpassword" jdbcType="VARCHAR" />
    <result column="devEmail" property="devemail" jdbcType="VARCHAR" />
    <result column="devInfo" property="devinfo" jdbcType="VARCHAR" />
    <result column="createdBy" property="createdby" jdbcType="BIGINT" />
    <result column="creationDate" property="creationdate" jdbcType="TIMESTAMP" />
    <result column="modifyBy" property="modifyby" jdbcType="BIGINT" />
    <result column="modifyDate" property="modifydate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, devCode, devName, devPassword, devEmail, devInfo, createdBy, creationDate, modifyBy, 
    modifyDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from dev_user
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByDevCodeAndPwd" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from `dev_user`
    <where>
        <if test="devcode!=null">
          AND `devCode` = #{devcode,jdbcType=VARCHAR}
        </if>
      <if test="devpassword!=null">
        AND `devPassword` = #{devpassword,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dev_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bdqn.appInfo.pojo.Dev_User" >
    insert into dev_user (id, devCode, devName, 
      devPassword, devEmail, devInfo, 
      createdBy, creationDate, modifyBy, 
      modifyDate)
    values (#{id,jdbcType=BIGINT}, #{devcode,jdbcType=VARCHAR}, #{devname,jdbcType=VARCHAR}, 
      #{devpassword,jdbcType=VARCHAR}, #{devemail,jdbcType=VARCHAR}, #{devinfo,jdbcType=VARCHAR}, 
      #{createdby,jdbcType=BIGINT}, #{creationdate,jdbcType=TIMESTAMP}, #{modifyby,jdbcType=BIGINT}, 
      #{modifydate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bdqn.appInfo.pojo.Dev_User" >
    insert into dev_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="devcode != null" >
        devCode,
      </if>
      <if test="devname != null" >
        devName,
      </if>
      <if test="devpassword != null" >
        devPassword,
      </if>
      <if test="devemail != null" >
        devEmail,
      </if>
      <if test="devinfo != null" >
        devInfo,
      </if>
      <if test="createdby != null" >
        createdBy,
      </if>
      <if test="creationdate != null" >
        creationDate,
      </if>
      <if test="modifyby != null" >
        modifyBy,
      </if>
      <if test="modifydate != null" >
        modifyDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="devcode != null" >
        #{devcode,jdbcType=VARCHAR},
      </if>
      <if test="devname != null" >
        #{devname,jdbcType=VARCHAR},
      </if>
      <if test="devpassword != null" >
        #{devpassword,jdbcType=VARCHAR},
      </if>
      <if test="devemail != null" >
        #{devemail,jdbcType=VARCHAR},
      </if>
      <if test="devinfo != null" >
        #{devinfo,jdbcType=VARCHAR},
      </if>
      <if test="createdby != null" >
        #{createdby,jdbcType=BIGINT},
      </if>
      <if test="creationdate != null" >
        #{creationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyby != null" >
        #{modifyby,jdbcType=BIGINT},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bdqn.appInfo.pojo.Dev_User" >
    update dev_user
    <set >
      <if test="devcode != null" >
        devCode = #{devcode,jdbcType=VARCHAR},
      </if>
      <if test="devname != null" >
        devName = #{devname,jdbcType=VARCHAR},
      </if>
      <if test="devpassword != null" >
        devPassword = #{devpassword,jdbcType=VARCHAR},
      </if>
      <if test="devemail != null" >
        devEmail = #{devemail,jdbcType=VARCHAR},
      </if>
      <if test="devinfo != null" >
        devInfo = #{devinfo,jdbcType=VARCHAR},
      </if>
      <if test="createdby != null" >
        createdBy = #{createdby,jdbcType=BIGINT},
      </if>
      <if test="creationdate != null" >
        creationDate = #{creationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyby != null" >
        modifyBy = #{modifyby,jdbcType=BIGINT},
      </if>
      <if test="modifydate != null" >
        modifyDate = #{modifydate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bdqn.appInfo.pojo.Dev_User" >
    update dev_user
    set devCode = #{devcode,jdbcType=VARCHAR},
      devName = #{devname,jdbcType=VARCHAR},
      devPassword = #{devpassword,jdbcType=VARCHAR},
      devEmail = #{devemail,jdbcType=VARCHAR},
      devInfo = #{devinfo,jdbcType=VARCHAR},
      createdBy = #{createdby,jdbcType=BIGINT},
      creationDate = #{creationdate,jdbcType=TIMESTAMP},
      modifyBy = #{modifyby,jdbcType=BIGINT},
      modifyDate = #{modifydate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>