<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bdqn.appInfo.dao.DictionaryMapper" >
  <resultMap id="BaseResultMap" type="com.bdqn.appInfo.pojo.Dictionary" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="typeCode" property="typecode" jdbcType="VARCHAR" />
    <result column="typeName" property="typename" jdbcType="VARCHAR" />
    <result column="valueId" property="valueid" jdbcType="BIGINT" />
    <result column="valueName" property="valuename" jdbcType="VARCHAR" />
    <result column="createdBy" property="createdby" jdbcType="BIGINT" />
    <result column="creationDate" property="creationdate" jdbcType="TIMESTAMP" />
    <result column="modifyBy" property="modifyby" jdbcType="BIGINT" />
    <result column="modifyDate" property="modifydate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, typeCode, typeName, valueId, valueName, createdBy, creationDate, modifyBy, modifyDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from data_dictionary
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from data_dictionary
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bdqn.appInfo.pojo.Dictionary" >
    insert into data_dictionary (id, typeCode, typeName, 
      valueId, valueName, createdBy, 
      creationDate, modifyBy, modifyDate
      )
    values (#{id,jdbcType=BIGINT}, #{typecode,jdbcType=VARCHAR}, #{typename,jdbcType=VARCHAR}, 
      #{valueid,jdbcType=BIGINT}, #{valuename,jdbcType=VARCHAR}, #{createdby,jdbcType=BIGINT}, 
      #{creationdate,jdbcType=TIMESTAMP}, #{modifyby,jdbcType=BIGINT}, #{modifydate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bdqn.appInfo.pojo.Dictionary" >
    insert into data_dictionary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="typecode != null" >
        typeCode,
      </if>
      <if test="typename != null" >
        typeName,
      </if>
      <if test="valueid != null" >
        valueId,
      </if>
      <if test="valuename != null" >
        valueName,
      </if>
      <if test="createdby != null" >
        createdBy,
      </if>
      <if test="creationdate != null" >
        creationDate,
      </if>
      <if test="modifyby != null" >
        modifyBy,
      </if>
      <if test="modifydate != null" >
        modifyDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="typecode != null" >
        #{typecode,jdbcType=VARCHAR},
      </if>
      <if test="typename != null" >
        #{typename,jdbcType=VARCHAR},
      </if>
      <if test="valueid != null" >
        #{valueid,jdbcType=BIGINT},
      </if>
      <if test="valuename != null" >
        #{valuename,jdbcType=VARCHAR},
      </if>
      <if test="createdby != null" >
        #{createdby,jdbcType=BIGINT},
      </if>
      <if test="creationdate != null" >
        #{creationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyby != null" >
        #{modifyby,jdbcType=BIGINT},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bdqn.appInfo.pojo.Dictionary" >
    update data_dictionary
    <set >
      <if test="typecode != null" >
        typeCode = #{typecode,jdbcType=VARCHAR},
      </if>
      <if test="typename != null" >
        typeName = #{typename,jdbcType=VARCHAR},
      </if>
      <if test="valueid != null" >
        valueId = #{valueid,jdbcType=BIGINT},
      </if>
      <if test="valuename != null" >
        valueName = #{valuename,jdbcType=VARCHAR},
      </if>
      <if test="createdby != null" >
        createdBy = #{createdby,jdbcType=BIGINT},
      </if>
      <if test="creationdate != null" >
        creationDate = #{creationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyby != null" >
        modifyBy = #{modifyby,jdbcType=BIGINT},
      </if>
      <if test="modifydate != null" >
        modifyDate = #{modifydate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bdqn.appInfo.pojo.Dictionary" >
    update data_dictionary
    set typeCode = #{typecode,jdbcType=VARCHAR},
      typeName = #{typename,jdbcType=VARCHAR},
      valueId = #{valueid,jdbcType=BIGINT},
      valueName = #{valuename,jdbcType=VARCHAR},
      createdBy = #{createdby,jdbcType=BIGINT},
      creationDate = #{creationdate,jdbcType=TIMESTAMP},
      modifyBy = #{modifyby,jdbcType=BIGINT},
      modifyDate = #{modifydate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>